# Version: Python 3.10.14
## This file is for hosting on huggingface space because I couldn't figure out how to get dependencies from .yml in HF docker

torch==2.3.0
torchvision==0.18.0
gradio==4.31.4